/* should i prefix everything */

.button {}
.button__icon {}
.button__text {}
.button_theme_islands {} /* this is modifier */

:root {
  --main-background-color: #f6f6f6;
  --main-white: #ffffff;
  --main-darker-gray: #777777;
  --main-dark-gray: #666666;
  --main-light-gray: #333333;
  --main-black: #000000;
  --main-red: #e93e2e;
  --main-green: #e93e2e;
  --main-primary: #e93e2e;
  --main-primary-background: #00965e;
  --main-hover-background: #f6f6f6;
  --main-border-radius: 8px;
  --main-spacing: 24px;
}
body {
  background-color: var(--main-background-color);
}

.App {
}

.card-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: var(--main-spacing);
  margin:  var(--main-spacing);
}

.card {
  background-color: var(--main-white); 
  border-radius: var(--main-border-radius);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-color: var(--main-dark-gray);
  text-transform: uppercase;
}

.card__trend {
  display: flex;
  flex-direction: row;
}

.card__trend__icon {
  display: block;
  height: 16px;
  width: 16px;
}

.card__value {}

.card__previous-value {}

.card-container {}
